name: Go

on:
  push:
    branches: [ "main", build-container ]
  pull_request:
    branches: [ "main", build-container ]

jobs:

  build:
    runs-on: ubuntu-latest
    container: seconddinner/build:0.0.1
    #container: golang:1.17
    steps:
    - uses: actions/checkout@v3
      
    # - name: Go build
    #   run: cd stress-test-loader; go build -v ./...


    - name: build.sh
      run: cd ${GITHUB_WORKSPACE}/stess-test-loader; bash ${GITHUB_WORKSPACE}/stess-test-loader/build.sh

  